<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
        {{!-- <script src="./js/app.js"></script> --}}
    </head>

    <body>
        <div class="main-content">
        {{>header}}

         <img class="portrait" src="./img/1.jpeg">
         <img class="portrait" src="./img/2.jpeg">
         <img class="portrait" src="./img/3.jpeg">
         <img class="portrait" src="./img/4.jpeg">
         <img class="portrait" src="./img/5.jpeg">
         <img class="portrait" src="./img/6.jpeg">
         <img class="portrait" src="./img/10.jpeg">
         <img class="portrait" src="./img/11.jpeg">
         <img class="portrait" src="./img/12.jpeg">
         <img class="portrait" src="./img/13.jpeg">
         <img class="portrait" src="./img/14.jpeg">
         <img class="portrait" src="./img/8.jpeg">
         <img class="portrait" src="./img/9.jpeg">


        </div>

        {{>footer}}

        <script src="./js/app.js"></script>
        
    </body>
</html>